

:root { 
    --font-family-primary:'Inter', sans-serif; 
    --font-family-secondary: 'Readex Pro', sans-serif;

}

.body { font-family: var(--font-family-primary);

}

.main-list { font-family: var(--font-family-primary)}